auto-install-peers=true
strict-peer-dependencies=false
node-linker=isolated
shamefully-hoist=false
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@lydell/node-pty
onlyBuiltDependencies[]=better-sqlite3
